@charset "UTF-8";

.filme {
    display: none;
    padding-top: 25px;
}

.poster {
    margin: auto;
    margin-top: 25px;
    background-color: #5d0070;
    color: white;
    width: 190px;
    height: 270px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -7px -7px 0px #ba81f79c inset;
}

.titulo-filme {
    margin: auto;
    width: 190px;
    box-shadow: 0px -5px 0px #5d0070 inset;
}

.estrelas {
    margin: auto;
    width: 190px;
    margin-top: 10px;
}

.sinopse {
    margin: auto;
    max-width: 400px;
    margin-top: 10px;
    padding: 10px;
    text-align: justify;
    border: 1px solid #5d0070;
    border-radius: 10px;
    box-shadow: -7px -7px 0px #5d0070 inset;
}

.title {
    text-align: center;
    font-size: 1.1em;
}

.flexrow {
    display: flex;
}

@media screen and (max-width: 750px){

    aside {
        display: flex;
    }

    img {
        max-height: 300px;
    }

    #carrossel {
        display: flex;
        width: 100%;
        position: relative;
        transform: translateX(0);
        transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) ease;
        will-change: transform;
    }

    .movie-item {
        object-fit: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
        width: 250px;
    }
    
    .movie-item p {
        font-size: 1em;
        margin-bottom: 10px;
    }
    
    .movie-item img {
        max-height: 300px;
    }
}