@charset "UTF-8";

body {
    background-image: url(_images/fundo-site.png);
    height: 100%;
    width: 100%;
    scroll-behavior: auto;
    font-weight: bold;
    text-align: center;
}

header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: #4C3C5C;
    position: fixed;
    width: 100%;
    top: 0;
   }
   
   header, nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
   }
   
   nav ul li {
    margin-right: 1rem;
   }

   