@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Freeman&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Freeman&family=Oswald:wght@200..700&display=swap');

*{
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    min-height:100%;
    position:relative;
 }

body {
    background-image: radial-gradient(purple, #4c024c, black);
    background-size: cover;
    background-attachment: fixed;    
    scroll-behavior: auto;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    padding-bottom: 60px;
    margin-top: 50px;
    margin-bottom: 0;
}

.topo {
    background-image: linear-gradient(#604f70ce, purple);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.363);
    padding: 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.topo > h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

h1 > a.logo {
    position: absolute;
    top: 15px;
    display: inline-block;
    font-family: Freeman, sans-serif;
    color: aliceblue;
    margin: left;
    text-decoration: none;
    transition-duration: 0.5s;
    animation: neon 3s infinite
}

h1 > a.logo:hover {
    font-size: 1.2em;
}
   
.topo nav ul {
    text-align: right;
    padding: 0px 10px 10px 1px;
    top: 30px;
    right: 10px;
    position: absolute;
}
   
nav ul li{
    display: inline;
    justify-content: space-between;
    list-style: none;
    padding: 10px 5px 10px 5px;
    text-align: left;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    transition-duration: 500ms;
}

nav ul li a:hover{
    text-decoration: none;
    background-color: #4c024c77 ;
    padding: 10px;
    border-radius: 10px;
    animation-duration: 1s;
}

main.mainindex {
    background-color: white;
    margin: auto;
    margin-bottom: 25px;
    height: 95vh;
    max-width: 1200px;
    padding: 25px 15px 200px 15px;
    border-radius: 20px;
    border-color: black;
    box-shadow: 1px 1px 20px black;
    text-align: center;
}

main.mainindex p {
    line-height: 3em;
}

main.mainaboutme {
    background-color: transparent;
    margin: auto;
    margin-bottom: 50px;
    height: 95vh;
    max-width: 1200px;
    padding: 15px 15px 200px 15px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: lighter;
}

main.mainaboutme p {
    line-height: 2em;
}

main.maincolaboradores {
    background-color: transparent;
    margin: auto;
    height: 95vh;
    max-width: 1200px;
    padding: 15px 15px 200px 15px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: lighter;
}

main.maincolaboradores p {
    line-height: 2em;
}


a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: lightgrey;
    border-radius: 10px;
}

a.linksocial {
    font-weight: bolder;
}

a.linksocial:hover {
    text-decoration: none;
    color: lightgrey;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.1em;
}

.aboutme {
    line-height: 20px;
    width: min(100% - 15px, 840px);
}

.aboutme, ul li {
    list-style: none;
    text-align: justify;
    margin: auto;
    max-width: 840px;
}

.foto-perfil {
    max-width: 300px;
    max-height: 300px;
    box-shadow: 3px 3px 15px 5px #7f047f80;
    margin-top: 2%;
    border-radius: 50%;
}

.foto-perfil-rick {
    width: 200px;
    height: 300px;
    box-shadow: 3px 3px 15px 5px #7f047f80;
    margin-top: 2%;
    border-radius: 50%;
}

.sociais {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0px 1px 8px 5px #7f047f69;
    margin-top: 2%;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

footer {
    display: block;
    background-color: lightgrey;
    color: black;
    font-size: small;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: -70px;
    margin-left: -20px;
    margin-right: -20px;
}

footer > p {
    display: inline-block;
    max-width: 300px;
    margin: auto;
    margin-right: 50px;
}

footer a {
    background-color: transparent;
    color: black;
    border-radius: 10px;
    display: flex;
    padding: 2px;
    margin-bottom: 10px;
    text-align: center;
    text-indent: 10px;
    transition: 500ms;
}

#instagram:hover {
    background-image: linear-gradient(to right, #AA11CE, #FFC501, #FE0684);
    color: black;
    border: 1px solid white;
}

#github:hover {
    background-color: black;
    border: 1px solid white;
}

#linkedin:hover {
    background-color: #0A63BC;
}

.footersocials {
    display: inline-block;
    justify-content: space-between;
    background-color: rgba(169, 169, 169, 0.281);
    border-radius: 10px;
    width: 90px;
    height: 80px;
    padding: 10px;
}

@keyframes neon {
    50% {text-shadow: 1px 1px 12px white;}
}